/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #0e0e05;
    --color01: #857960;
    --color02: #787e65;
    --color03: #939670;
    --color04: #bb9ca4;
    --color05: #8e7c92;
    --color06: #989f87;
    --color07: #d6c3d8;
    --color08: #666760;
    --color09: #aa9e7c;
    --color10: #9ba382;
    --color11: #b8bd8a;
    --color12: #c6a398;
    --color13: #b59fbb;
    --color14: #bdc6a6;
    --color15: #f0c7f8;
}
