@define-color bg #000b01;
@define-color fg #d2dcc3;
@define-color gray1 #85a27f;
@define-color gray2 #5a5f5a;
@define-color gray3 #579789;
@define-color gray4 #a3ae83;
@define-color gray5 #609d8f;
@define-color fg_bright #d9eeb4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}